
{% extends 'base.html.twig' %}

{% block title %}Ajouter un Gîte{% endblock %}

{% block body %}
    {% if adjectif is defined %}
        <h1>Gîte {{ adjectif }}</h1>
        <p>Informations sur le gîte ajouté :</p>
        <ul>
            <li>Localisation : {{ gite.getLocalisation() }}</li>
            <li>Surface habitable : {{ gite.getSurfaceHabitable() }} m²</li>
            <li>Nombre de chambres : {{ gite.getNombreChambres() }}</li>
            <li>Nombre de couchages : {{ gite.getNombresCouchages() }}</li>
            <li>Équipements : {{ gite.getEquipements() }}</li>
            {# Ajoutez d'autres propriétés ici en fonction de votre entité  #}
        </ul>

    {% endif %}
{% endblock %} 
